<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>관리자 화면</title>
  <style>
    .detail table {
      width: 100%;
      border-collapse: collapse;
    }
    .detail table th, .detail table td {
      border:solid 1px #000;
    }
    .buttons{
      margin-top: 20px;
      text-align: center;
    }
    .buttons a, .buttons button{
      border-width: 0;
      background-color: transparent;
      text-decoration: underline;
      font-size: 12px;
      line-height: 20px;
      height: 20px;
      color: #000;
      cursor:pointer;
    }

  </style>

</head>

<body>
<h1>WishMarket - 관리자 상품 등록</h1>
<h2>상품 카테고리 번호</h2>
<h2>[1 : 의류]
[2 : 가전]
[3 : 고가 레고 (완구)]
[4 : IT]
[5 : 귀금속]
[6 : 가구]
[7 : 기타]
</h2>

<div class="detail">
  <form id="submitForm" method="post" enctype="multipart/form-data">

    <table>
      <thead>
      <tr>
        <th>상품이름</th>
        <td>
          <input th:value="${detail.name}" type="text" name="name" required placeholder="상품명 입력" />

        </td>
      </tr>

      <tr>
        <th>
          상품이미지
        </th>
        <td>
            <input  type="file" name="productImage" multiple />
        </td>
      </tr>


      <tr>
        <th>
          카테고리()
        </th>
        <td>
          <input th:value="${detail.categoryCode}" type="number" name="category" required placeholder="카테고리 번호 입력" />
        </td>
      </tr>

      <tr>
        <th>
          가격
        </th>
        <td>
          <input th:value="${detail.price}" type="text" name="price" required placeholder="금액 입력 (원)" />
        </td>
      </tr>

      <tr>
        <th>
          상품 설명 이미지
        </th>
        <td>
          <input  type="file" name="descriptionImage" multiple />
        </td>
      </tr>



      </thead>
    </table>

    <div class="buttons">
      <button type="submit"> 상품 등록 하기 </button>
    </div>


  </form>
</div>

</body>
</html>